@font-face {
  font-family: "Rubik";
  src: url("../fonst/Rubik-Medium.woff2") format("woff2"),
    url("../fonst/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonst/Rubik-Regular.woff2") format("woff2"),
    url("../fonst/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonst/Rubik-Bold.woff2") format("woff2"),
    url("../fonst/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

img {
  vertical-align: middle;
}

.header {
  margin: 0 auto;
  width: 1240px;
  padding: 0 20px;
}

/* HEADER TOP START */
.header-top-inner {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  padding: 15px 0px;
}

.logo-link {
  margin-right: 45px;
}

/* .logo-img {
} */

.currency-list {
  display: flex;
  list-style-type: none;
  color: #555;
  margin-right: auto;
}

.currency-item {
  margin-right: 25px;
}

.currency-span {
  font-weight: 700;
  color: #2959ce;
}

.input-form {
  border: none;
  background-color: #fff;
  border-radius: 60px;
  margin: 0;
  margin-right: 35px;
  padding: 6px 12px;
}

.search-input {
  border: none;
  outline: none;
}

.search-input:focus {
  outline: none;
}

.languages {
  width: 70px;
  height: 36px;
  background-color: #dce6ff;
  border-radius: 39px;
  padding: 3px;
}

.languages-item {
  text-decoration: none;
  font-weight: 400;
  line-height: 30px;
  color: #a6a6a6;
}

.active-language {
  width: 30px;
  color: #000;
  padding: 7px;
  border-radius: 50%;
  background: #fff;
}

.site-login {
  margin-left: 25px;
  text-decoration: none;
}

.site-login-link {
  width: 89px;
  height: 45px;
  background: #7296ec;
  color: #fff;
  border-radius: 10px;
  padding: 13px 20px;
  text-decoration: none;
}

/* HEADER TOP END */

/* HEADER MIDDLE START */
.header-middle-inner {
  margin-top: 30px;
  width: 1200px;
  height: 41px;
}

.nav-middle-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

/* .nav-middle-item {} */

.nav-middle-item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #7f7f7f;
}

/* HEADER MIDDLE END */

/* HEADER BOTTOM START */
.header-bottom-inner {
  margin-top: 40px;
}

/* HEADER BOTTOM END */

/* ------------<*>---------- */

/* FOOTER SECTION STARED */
.footer {
  margin: 0;
  margin-top: 100px;
  background: #7297ef;
}

.footer-inner {
  margin: 0 auto;
  width: 1041px;
  height: 356px;
}

.footer-site-logo {
  margin: 40px 0 15px;
}

.footer-top {
  display: flex;
  border-bottom: 1px solid #cecece;
}

.footer-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #ffffff;
  margin-right: 200px;
}

.footer-list-info {
  list-style-type: none;
  margin-right: 100px;
}

.list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin: 20px;
}

.footer-list-use-materials {
  list-style-type: none;
}

.social-networks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.networks-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.link {
  margin-left: 25px;
}

/* FOOTER SECTION ENDED */